{% extends "base.html" %}

{% block body_block%}

<style>
h1{
    text-align: center;
    
}
p{
    padding: 10px;

}
</style>


<h1>License Agreement</h1>




<p>Dear WORLDINPIXEL   Customer:</p>

<p>The following Terms of Service ("TOS") is a legal agreement between you or the employer or other entity on whose behalf you are entering into this agreement ("you" or "Customer") and WORLDINPIXEL   (as such term is defined in Section 25 below) and sets forth the rights and obligations with respect to any Content licensed by you. By entering into this TOS, you verify that your country of residence is the same as your billing address.

Please revisit this TOS when you purchase any Content licenses. WORLDINPIXEL   reserves the right to modify the TOS at any time in its sole discretion. Prior to such changes becoming effective, WORLDINPIXEL   will use reasonable efforts to notify you of any such change. Such notice may be made by email to the email address on file in your WORLDINPIXEL   account, an announcement on this page, your login page, and/or by other means. Modifications to this TOS will only apply to prospective purchases (including any automated renewals). By licensing Content following any such modifications, you agree to be bound the TOS as modified.

<p>THIS IS A SINGLE SEAT LICENSE AUTHORIZING ONE NATURAL PERSON TO LICENSE, DOWNLOAD AND USE CONTENT. UNLESS YOU UPGRADE TO A "TEAM SUBSCRIPTION" OR "PREMIER PLATFORM" ACCOUNT, NO OTHER PERSONS (INCLUDING EMPLOYEES, CO-WORKERS OR INDEPENDENT CONTRACTORS) MAY ACCESS YOUR ACCOUNT OR USE CONTENT LICENSED THROUGH YOUR ACCOUNT.

IF YOU PURCHASE A "TEAM SUBSCRIPTION" THE RIGHT TO LICENSE, DOWNLOAD AND USE CONTENT IS LIMITED TO THE NUMBER OF USERS PERMITTED BY THAT TEAM SUBSCRIPTION. WORLDINPIXEL  ’S "PREMIER PLATFORM" GRANTS ACCESS AND USAGE RIGHTS TO UNLIMITED USERS AMONG OTHER ADDITIONAL RIGHTS.</p>
</p>


{% endblock %}