{% extends "base.html" %}

{% block body_block %}

<style>

  h2{
    text-align: center; 
    margin: 4px;
    padding: 4px;
  }
  
  form{
    padding:40px;
    margin: 20px;
    
    


  }

    .btn {
        display: block;
        width: 100%;
        height: 50px;
        border-radius: 25px;
        outline: none;
        border: none;
        background-image: linear-gradient(to right, #444947, #363a39, #111312);
        background-size: 200%;
        font-size: 1.2rem;
        color: #fff;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        margin: 1rem 0;
        cursor: pointer;
        transition: .5s;
    }

    .btn:hover {
        background-position: right;
    }


</style>

<h2>CONTACT US</h2>
                <p>

                    {% if messages %}

                        {% for message in messages %}
            
                            

                            <div class="alert {{ message.tags }}" role="alert">
                                {{ message }}
                              </div>
            
                        {% endfor %}            
        
                    {% endif %}
        
        
                </p>



<form action="{% url 'myapp:contactus' %}" method="POST">
  {% csrf_token %}
  <div class="form-group justify-content-center">
    <label for="exampleFormControlInput1">Full Name</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="full_name" placeholder="Your Name">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Subject</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="subject" placeholder="Subject" required>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" name='email' placeholder="name@example.com" required>
  </div>
 
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name='description' required></textarea>
  </div>


   <input type="submit" class="btn btn-primary" value="Submit">

</form>


















{% endblock %}