{% extends "base.html" %}

{% block body_block%}

<style>
h1{
    text-align: center;
}
p{ 
    
    
    width: 100%;
    padding: 20px 40px;
    justify-content: center;
}

h3{
    
    padding: 10px 40px;
    
}


</style>
<h1>Privacy Policy</h1>

<p>The online Registration Form asks visitors for demographic information (like their PIN code or Telephone No.) . Demographic and profile data is also collected at the site. We use this data to tailor our visitor's experience and services at our site, showing them content that we think they might be interested in, and displaying the content according to their preferences.

    The customer's contact information is used to contact the visitor when necessary. Users may opt-out of receiving future mailings; see the choice/opt-out section below. We do not divulge the visitor's information to any third party for commercial use. We may use the data for informing the users of our services and offerings from time to time.</p>

<h3>What information do you collect when I register for something?</h3>
<p>We offer access to some services that require registration. We may use your contact information to send notification to you about our products and services by e-mail and/or postal mail. We also may share that information with our clients. Our clients may send you promotional material that is related to the topic of the service for which you registered. We may also use your IP address internally and share it with third parties.</p>

{% endblock %}